body {
  background-color: rgb(49, 49, 49);
  font-family: "MS 明朝", serif;
  color: white;
  font-feature-settings: "palt";
}

.section {
  padding: 20px;
}


html {
    scroll-behavior: smooth;
}

/* pagetopに戻るボタン */
.pagetop {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #fff;
  border: solid 2px #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
}

.pagetop__arrow {
  height: 10px;
  width: 10px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  transform: translateY(20%) rotate(-45deg);
}

@media (hover: hover) and (pointer: fine) {
  .pagetop:hover, .pagetop:hover .pagetop__arrow {
  order-color: #3293e7;
  }
}

/*==================================================
スライダーのためのcss
===================================*/


/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
  margin:0 10px;/*スライド左右の余白調整*/
  z-index: 100;
}


/*========= レイアウトのためのCSS ===============*/



ul{
  margin:0;
  padding: 0;
  list-style: none;
}



a:hover,
a:active{
  text-decoration: none;
}

/* Slider */
.slick-slider
{
  /* position: relative; */
  z-index: 100;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: right;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
  font: inherit;
  color: #333;
}

/* ここまでリセットCSS */

/* ヘッダーの設定 */
header {
  position: fixed;
  height: 60px;
  width: 100%;
  padding: 0 20px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.logo {
  font-size: 20px;
  color: white;
  z-index: 100000;

}

.logo-icon{
  border-radius:50%;
}

.hamburger {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 40px;
  height: 3px;
  background: rgb(255, 255, 255);
  border-radius: 2px;
  display: block;
  position: absolute;
  color: #333;
  transition: all 0.3s;
}

.hamburger .bar-top {
  transform: translate(0, -12px);
}

.hamburger .bar-bottom {
  transform: translate(0, 12px);
}

.checkbox:checked ~ .hamburger .bar-middle {
  opacity: 0;
}

.checkbox:checked ~ .hamburger .bar-top {
  transform: translate(0, 0) rotate(45deg);
}

.checkbox:checked ~ .hamburger .bar-bottom {
  transform: translate(0, 0) rotate(-45deg);
}

.checkbox {
  display: none;
}

/* ハンバーガーメニュー */
.nav-menu {
  position: fixed;
  width: 280px;
  height: 100%;
  background: #000;
  opacity: 0.8;
  color: #fff;
  top: 0;
  left: -100%;
  transition: all 0.5s;
}

.nav-menu ul {
  margin-top: 100px;
}

.nav-menu li {
  margin-bottom: 30px;
}

.nav-menu a {
  text-align: center;
  font-size: 30px;
}

.checkbox:checked ~ .nav-menu {
  left: 0;
}

/* フッターの設定 */
.footer {
  background-color: black;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
  font-family:  "MS 明朝", serif;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}



.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}

/* contact */
.discode{
  border-radius: 50%; 
}

.melu {
  color: #0099ff;
}

/* underlineののためのCSS */
.timeline {
  list-style: none;
}
.timeline > li {
  margin-bottom: 60px;
}

/* for Desktop */
@media ( min-width : 640px ){
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 110px;
    float: left;
    margin-top: 20px;
  }
  .timeline-content {
    width: 75%;
    float: left;
    border-left: 3px white solid;
    padding-left: 30px;
  }
  .timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: yellow;
    position: absolute;
    left: 106px;
    top: 24px;
    border-radius: 100%;
  }
}

/* 639ピクセル用 */
@media (max-width: 639px) {
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 90px; /* 幅を調整 */
    float: left;
    margin-top: 10px; /* マージンを調整 */
  }
  .timeline-content {
    width: calc(100% - 90px); /* 日付後の幅に合わせて調整 */
    float: left;
    border-left: 3px white solid;
    padding-left: 20px; /* パディングを調整 */
  }
  .timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: yellow;
    position: absolute;
    left: 86px; /* 日付と揃えるために位置を調整 */
    top: 14px; /* 垂直方向に合わせるために位置を調整 */
    border-radius: 100%;
  }
}

.underline-Area {
  width: 50%;
  min-width: 200px;
  height: auto;
  margin: 0;
  padding: 20px;
  border: 10px solid white;
}

.underline-Area p {
  margin: 60px auto;
}

.underline-before {

background: linear-gradient(white,white) 0 100%/0 5px no-repeat;
/*左から、カラー（始点と終点それぞれ同じものを指定）、position / サイズ横縦 繰り返しの有無 */

transition: 1s;
/* トランジションの設定。下線を引く動きをアニメーションにするのに必要 */

text-decoration: none;
/*テキストの装飾の設定 */
}

.underline-after {
background-size: 100% 5px;
/* 変化後のスタイル。横サイズを0から100%に変えることで指定の文字列に下線を引く */
}

h2 {
  font-weight: 1000;
  font-size: 50px;
}

/* カルーセル全体 */
.carousel {
  /* 水平方向中央寄せ */
  display: flex;
  justify-content: center;
}
/* カルーセル内容 */
.contains {
  /* サイズは自由に変更してください。*/
  /* 下の.slideも同じサイズにしてください。 */
  width: 500px;
  height: 400px;
  overflow: hidden;
  position: relative;
  padding: 0;
  list-style: none;
}
/* スライド切り換え用ラジオボタンは常に非表示 */
.slide_select {
  display: none;
}
/* 各スライド */
.slide {
  /* サイズは自由に変更してください。*/
  /* 上の.containsも同じサイズにしてください。 */
  position: absolute;
  /* スライドの初期値は選択されていないので透明にしておく */
  opacity: 0;
}
/* 前へ次へボタン */
.scroll_button {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  /* 縦中央から20px上の位置 */
  top: 50%;
  margin-top: -20px;
/* 上辺と右辺のみ幅5pxの枠線 */
  border-width: 5px 5px 0 0;
  border-style: solid;
  border-color: #000000;
  cursor: pointer;
  /* 普段はボタンはやや薄くする */
  opacity: 0.5;
  /* スライドよりも前面にする */
  z-index: 3;
}

/* ホバー時にボタンを強調 */
.scroll_button:hover {
  opacity: 1;
}
/* 前へボタン */
.scroll_prev {
  left: 15px;
  /* 上辺と右辺の枠線を回転して"＜"にする */
  transform: rotate(-135deg);
}
/* 次へボタン */
.scroll_next {
  right: 15px;
  /* 上辺と右辺の枠線を回転して"＞"にする */
  transform: rotate(45deg);
}

/* スライド移動の各ボタン */
.button_move {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  border-radius: 100%;
  cursor: pointer;
  /* 普段はやや薄くする */
  opacity: 0.5;
  /* スライドより前面にする */
  z-index: 2;
  text-align: ce;
}
/* ホバー時はやや明るくする */
.button_move:hover {
  opacity: 0.75;
}
/* スライド移動ボタンの色 */
.button_move {
  background-color: #360000a5;
}
/* 1番目のスライド選択時 */
/* 1番目のスライドの透明度を0にして表示する */
.slide_select:nth-of-type(1):checked ~ .slide:nth-of-type(1) {
  opacity: 1;
}
/* スライド移動ボタンの1個目を明るくする */
/* （今選択されていることが分かるように） */
.slide_select:nth-of-type(1):checked ~ .move_controler .button_move:nth-of-type(1) {
  opacity: 1;
}
.slide_select:nth-of-type(2):checked ~ .slide:nth-of-type(2) {
  opacity: 1;
}
.slide_select:nth-of-type(2):checked ~ .move_controler .button_move:nth-of-type(2) {
  opacity: 1;
}
.slide_select:nth-of-type(3):checked ~ .slide:nth-of-type(3) {
  opacity: 1;
}
.slide_select:nth-of-type(3):checked ~ .move_controler
  .button_move:nth-of-type(3) {
  opacity: 1;
}
.slide_select:nth-of-type(4):checked ~ .slide:nth-of-type(4) {
  opacity: 1;
}
.slide_select:nth-of-type(4):checked
  ~ .move_controler
  .button_move:nth-of-type(4) {
  opacity: 1;
}

.slide_select:nth-of-type(5):checked ~ .slide:nth-of-type(5) {
  opacity: 1;
}
.slide_select:nth-of-type(5):checked
  ~ .move_controler
  .button_move:nth-of-type() {
  opacity: 1;
}

/* スマートフォン縦 (0-480px) */
@media only screen and (max-width: 400px){
  .icon {
    width: 225px;
    height: 225px;
    padding: 5px;
    border-radius:50%;
    background-color: rgb(49, 49, 49, 50);
  }

  #logo2 {
    display: none;
  }

  #sample_pictures{
    width: 300x;
    height: 240px;
  }

  /* スライド移動ボタンエリア */
  .move_controler {
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin-bottom: 150px;
    text-align: center;
    }

  #title1 {
    font-size: 30px;
  }
}

/* スマートフォン横 (480-670px) */
@media only screen and (min-width: 400px) and (max-width: 670px) {
  main {
    margin-left: 10%;
    margin-right: 10%;
  }

  #logo2 {
    display: none;
  }

  #title1 {
    font-size: 30px;
  }

  .icon {
    width: 275px;
    height: 275px;
    padding: 5px;
    border-radius:50%;
    background-color: rgb(49, 49, 49, 50);
  }
  
  #sample_pictures{
    width: 400px;
    height: 320px;
  }

  /* スライド移動ボタンエリア */
.move_controler {
  position: absolute;
  bottom: 20px;
  width: 100%;
  margin-bottom: 70px;
  margin-left: 160px;
  }
}

/* タブレット (670-960px) */
@media only screen and (min-width: 671px) and (max-width: 960px){
  main {
    margin-left: 10%;
    margin-right: 5%;
  }

  .icon {
    width: 300px;
    height: 300px;
    padding: 5px;
    border-radius:50%;
    background-color: rgb(49, 49, 49, 50);  
  }

  #logo2 {
    display: none;
  }

  #title1 {
    font-size: 40px;
  }

  #sample_pictures{
    width: 500px;
    height: 400px;
  }

  /* スライド移動ボタンエリア */
.move_controler {
  position: absolute;
  bottom: 20px;
  width: 100%;
  margin-left: 200px;
  }
}

/* ノートPC (960-1280px) */
@media only screen and (min-width: 961px) and (max-width: 1280px) {
  main {
    margin-left: 20%;
    margin-right: 15%;
  }

  .icon {
    width: 400px;
    height: 400px;
    padding: 5px;
    border-radius:50%;
    background-color: rgb(49, 49, 49, 50);
  }

  #logo2 {
    display: inline;
  }
  
  #title1{
    display: none;
  }

  #sample_pictures{
    width: 500px;
    height: 400px;
  }

  /* スライド移動ボタンエリア */
.move_controler {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  }
}


/* モニター等 (1280px以上) */
@media only screen and (min-width: 1281px) {
  main {
    margin-left: 20%;
    margin-right: 20%;
  }

  .icon {
    width: 400px;
    height: 400px;
    padding: 5px;
    border-radius:50%;
    background-color: rgb(49, 49, 49, 50);
  }

  #logo2 {
    display: inline;
  }

  #title1{
    display: none;
  }

  #sample_pictures{
    width: 500px;
    height: 400px;
  }

  /* スライド移動ボタンエリア */
.move_controler {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  }
}
